<div class="container">
  <div class="row">
    <div class="inner-main">
      <h2 class="mb-4">Survey Form Builder</h2>
    </div>
  </div>
</div>

<!-- <div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div> -->



  <!-- <h1>Survey</h1>
  <survey [json]="json" (submitSurvey)="sendData($event)"></survey> -->

  <h1>Survey JS Creator</h1>
  <survey-creator [json]="json" (surveySaved)="onSurveySaved($event)"></survey-creator>






