<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">

          <!-- <div class="card-img-left d-none d-md-flex">
          </div> -->

          <div class="card-body">
            <survey [json]="json" (submitSurvey)="sendData($event)" 
            (nextPageSurvey)="nextPageSurveyData($event)"
              onbeforeunload="return exitConfirm()"></survey>


          </div>
        </div>
      </div>
    </div>
  </div>
</body>
